/* Normalize css */
html, body{
  padding: 0;
  margin: 0;
}

p, div, form, header, footer, section, 
a, h1, h2, h3, h4, h5, h6, input, textarea,
form, fieldset, legend, ul, li, ol, select, 
main, nav, address, i{
  padding: 0;
  margin: 0;
}